.home-header{
    font-size: 55px;
    font-weight: 700;
}

.header-border:after{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 5px;
  border-radius: 7px;
  position: static;
  margin-top: 30px;
  background: linear-gradient(90deg,#9f8fff 100%,#7b68ee 0);
}

.header-border2:after{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 5px;
  border-radius: 7px;
  position: static;
  margin-top: 30px;
  background: var(--primary-color)
}

.home-border3:after{
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  height: 5px;
  border-radius: 7px;
  position: static;
  margin-top: 30px;
  background: #fd71af;
}
.home-description{
    font-size: 18px;
    font-weight: 700;
    color: var(--light-text);
}
.home-des-wrap {
  position: relative;
}



.count-wrap{
  margin: 60px 0 30px;
  background: url(../../../assets/bg-home.svg) no-repeat center/contain;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top:40%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
.home-counter{
  font-size: 20px;
  font-weight: 500;
}

.home__counter-count:hover{
  border-bottom: 2px solid #000;
}

/* CSS */

/* CSS */


.chart-background{
  position: relative;
}


.chart-icon{
  background-color: #fff;
  padding: 25px;
  border-radius: 50%;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chart-icon-1{
  left: 70%;
    top: -14%;
}

.chart-icon-2{
  left: 104%;
  top: -5%;
}

.chart-icon-3{
  left: 85%;
    top: 10%;
}





.count {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.count::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.count:hover::after {
  width: 100%;
}
.card-container{
  position: relative;
}
.card-container::before{
  background: url(../../../assets/purple-diamond.svg) no-repeat center/contain;
    left: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 60%;
    width: 600px;
    height: 600px;
    z-index: 0;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.template-container{
  position: relative;
}
.template-container::before{
  background: url(../../../assets/pink-diamond.svg) no-repeat top left/contain;
  left: -30%;
  width: 653px;
  height: 660px;
  top: 20%;
  content: '';
  display: block;
  position: absolute;
}


.home__marketing-detail {
  width: 350px;
  margin-bottom: 45px;
  padding: 30px 20px 30px 25px;
  position: relative;
  background: #fff;
  box-shadow: 0 15px 45px rgb(16 30 54 / 15%);
  border-radius: 4px;
}
.home__marketing-wrap{
  margin: 45px auto 50px;
}


.home__marketing-header{
  font-size: 25px;
  margin: 20px 0 ;
  font-weight: 700;
  margin: 20px 0 15px;
}

.home__marketing-icon{
  box-shadow: 0 15px 15px rgb(16 30 54 / 15%);
  font-size: 30px;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color:#fff;
}

.border-purple{
  border-left:5px solid #7b68ee ;
}
.purple-text {
  color:#7b68ee;
}
.border-pink{
  border-left:5px solid #fd71af ;
}
.pink-text{
 color:#fd71af;
}
.border-blue{
  border-left:5px solid #49ccf9 ;
}
.blue-text{
 color:#49ccf9;
}
.border-yellow{
  border-left:5px solid #ffc800 ;
}
.blue-yellow{
  color:#ffc800;
 }
 .border-green{
  border-left:5px solid #00b884 ;
}
 .green-text{
  color:#00b884;
 }
.border-red{
 border-left:5px solid #fd7171 ;
}
 .red-text{
   color: #fd7171;
 }
.purple{
  background: linear-gradient(180deg,#9f8fff 0,#7b68ee 100%);
}  

.pink{
  background: linear-gradient(180deg,#ff9ec9 0,#fd71af 100%);
}

.blue{
  background: linear-gradient(180deg,#84dfff .01%,#49ccf9 99.99%);
}

.yellow{
  background: linear-gradient(180deg,#ffdb58 0,#ffc800 100%);
}

.green{
  background: linear-gradient(180deg,#5ddd93 .03%,#00b884 99.97%);
}

.red{
  background: linear-gradient(180deg,#ff9696 .03%,#fd7171 99.97%);
}
.card-icon{
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      box-shadow: 0 20px 25px rgb(189 206 212 / 60%);
      border-radius: 15px;
      min-width: 60px;
      height: 60px;
      margin-right: 30px;
}

.home-carousel{
  background: url(../../../assets/dots.svg) repeat center/auto;
    box-shadow: 0 15px 20px var(--primary-color)
}

.review__content{
  background: #fff;
    box-shadow: 0 15px 45px rgb(16 30 54 / 15%);
    border-radius: 4px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    font-size: 20px;
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: var(--light-text);

}

.review__content-icon{
  width: 40px;
    min-height: 32px;
    margin-bottom: 25px;
    display: table;
}

.review__content-user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #fafbfc;
  border-top: 1px solid #e9ebf0;
  width: calc(100% + 60px);
  margin: 0 -30px -30px;

  padding: 10px 20px;
}

.review__content-user-img{
  max-width: 100%;
  max-width: 35px;
  min-width: 35px;
  height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
