<div [ngSwitch]="statusCode" class="text-center" >
    <span style="width: 70px" *ngSwitchCase="code.Reopened" class="badge badge-light fsz-14">Reopened</span>
    <span style="width: 70px" *ngSwitchCase="code.Open" class="badge  badge-info fsz-14">Open</span>
    <span style="width: 70px" *ngSwitchCase="code.Resolved" class="badge  badge-success fsz-14">Resolved</span>
    <span style="width: 70px" *ngSwitchCase="code.InProgress" class="badge  badge-primary fsz-14">InProgress</span>
    <span style="width: 70px" *ngSwitchCase="code.Closed" class="badge  badge-secondary fsz-14">Closed</span>
</div>