/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
); */
html, body{
    font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primary-color: #00b4d8;
    --heavy-color: #0077b6;
    --light-text: #7c828d;
    --table-width: 100%;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr';
body:not(.modal-open){
    padding-right: 0px !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', sans-serif; font-weight: 600;}
.wrapper {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    color: inherit;
    transition: .2s;
  }

  .site-wrap{
    position: relative;
    background-color: #fcfcfd;
    overflow: hidden;
  }
  .content-wrap{
    height: 100vh;
    position: relative;
    background-color: #fcfcfd;
    overflow: hidden;
  }
  .site-wrap::before{
    content: '';
    display: block;
    position: absolute;
    top: -342px;
    left: calc(50vw + 100px);
      width: 1143px;
      height: 1149px;
    /* background: url(./assets/Background.svg) no-repeat center/contain; */
  
  }
.card-container{
    padding:120px 0;
}
.btn-primary{
    background-color: var(--primary-color)  !important;
    border-color:  var(--primary-color)  !important;
}
.btn:focus{
    outline: none !important;;
}
.btn-primary:hover{
    outline: none;
    background-color: var(--heavy-color)  !important;
    border-color:  var(--heavy-color)  !important;

}
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-primary{
    color: var(--primary-color)  !important;
}
.p-text{
    color: var(--light-text)  !important;

}
.fsz-35{
    font-size: 35px;
}

.fsz-12{
  font-size: 12px;

}
.fsz-14{
    font-size: 14px;
}

.fsz-20{
  font-size: 25px;
}
.fsz-25{
  font-size: 25px;
}


.fsz-16{
  font-size: 16px;
}
.fw-400{
  font-weight: 400;
}


.fw-600{
    font-weight: 600;
}

.fw-500{
    font-weight: 500;
}


.fw-700{
    font-weight: 700;
}

.modal-xl {
    max-width: 90%;
  }

  @keyframes FadeIn {
    from{
      opacity:0;
    }
    to{
      opacity: 1;
    }
  }


  .home__btn {
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--light-text),var(--light-text));
    border-radius: 8px;
  }
  
  .home__btn:hover,
  .home__btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: var(--heavy-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #fff;
  }
  
  .home__btn:hover {
    transform: translateY(-1px);
  }
  
  .create__btn:active {
    background-color: #F0F0F1;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: #fff;
    transform: translateY(0);
  }

  .create__btn {
    align-items: center;
    background-color: var(--heavy-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .create__btn:hover,
  .create__btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: var(--heavy-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #fff;
  }
  
  .create__btn:hover {
    transform: translateY(-1px);
  }
  
  .create__btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: #fff;
    transform: translateY(0);
  }
  
  .fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}
.btn--fab {
  position: fixed;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0;
  width: 60px;
  height: 60px;
  padding: 8px;
  background-color: #fff;
  right: 2%;
  bottom: 5%;
  border: none;
  outline: none;
  z-index: 999;
  font-size: 2rem;
  cursor: pointer;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn--fab >  i {
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 50%;
    
  }

  .btn--fab.color-1 {
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}



/* CSS */
.btn-icon {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  border: none;
  font-weight: 400;
  outline: none;
  transition: background-color 0.1s ease-out;
  line-height: 15px;
  background-color: transparent;
}

  .btn-icon:hover
  {
    color: rgba(0, 0, 0, 0.85);
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .btn-icon:active{
    background-color: rgba(0, 0, 0, 0.2);
  }

  .btn-icon:focus{
    border: none;
    outline: none;
  }





.btn--fab:hover {
  transform: translateY(-5px);
}

.btn--fab:active{
  outline: none;
  border: none;
}

