.notify:active, .no:active {
    background-color: var(--primary-color);
}

.notify {
    margin: 0;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.notify-item:hover{
    background-color: #f8f9fa;
}