.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--light-text),var(--light-text));
  border-radius: 10px;
}

tbody {
  display:block;
  max-height:500px;
  overflow-y:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
} 

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}




  /* CSS */


  .fa {
    padding-top: 2px;
    padding-right: 5px;
  }

  .button{
    align-items: center;
    background-color: #FFFFFF;
    border-radius: .25rem;
    border-color: rgba(0, 0, 0, 0.15);

    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 38px;
    justify-content: center;
    margin: 0;
    padding: calc(.875rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    min-width: 75px;
  }



  .button:hover,
  .button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
  }

  .button:hover {
    transform: translateY(-1px);
  }

  .button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

  .fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}
.btn--fab {
  position: fixed;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px 0;
  width: 70px;
  height: 70px;
  padding: 8px;
  background-color: #fff;
  right: 2%;
  bottom: 5%;
  border: none;
  outline: none;
  z-index: 999;
  font-size: 2rem;
  cursor: pointer;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.btn--fab >  i {
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 50%;
    
  }

  .btn--fab.color-1 {
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}




/* CSS */




.btn--fab:hover {
  transform: translateY(-5px);
}

.btn--fab:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/*----- button 1 -----*/


.dropdown-item:active{
  background-color: var(--heavy-color);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.nav-link{
  align-items: center;
  border: 2px solid;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.15);

  padding: 5px 20px;


  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
  color: rgba(0, 0, 0, 0.85);
}


.nav-active:hover{
  color: var(--primary-color);
}

.nav-active::after{
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background-color: var(--primary-color);
  transition: width 0.5s;
}

.nav-active:hover::after{
 width: 90%;
}
@keyframes DropDown{
0%{
  transform: scaleY(0);
}
80%{
  transform: scaleY(1.1);
}
100%{
  transform: scaleY(1);
}
}
.navbar-dropdown{
  animation: DropDown 0.5s ease-in-out forwards;
  transform-origin: top center;
  margin-top: 1;
  z-index: 1000;
  position: absolute;
  
}



