<div class="container-fluid"  style="position: relative;">
  <div class="row no-gutters mt-4">
    <div class="col col-6 d-flex">
      <h2 *ngIf="projectId" class="mb-3 text-primary fw-700">{{ getProjectName(projectId)}} / </h2>
      <h2 class="mb-3 text-primary fw-700">Tasks</h2>
    </div>
    <div class="col col-6">
      <button *ngIf="right" class="fixedButton btn--fab color-1 float-right" (click)="openDetailModal(null, 'create', true)">
        <i class="fa fa-plus" ></i>
      </button>
    </div>
  </div>
  <div class="row no-gutters" *ngIf="tasks.length > 0">
    <div class="col col-11">
      <app-task-filter (onSubmitForm)="submitFormFilter($event)" (resetFilter)="onResetFilter()"
        (filterPriority)="onFilterPriority($event)" (filterStatus)="onFilterStatus($event)"
        (filterType)="onFilterType($event)" (onSearchTask)="onSearch($event)" (filterProject)="onFilterProject($event)"></app-task-filter>
    </div>

    <div class="col col-1">
      <button *ngIf="right" class="button float-right" (click)="onFilterUser(); this.isMyTask = !isMyTask">
        <i *ngIf="isMyTask == false" class="fa fa-file-text mr-2"  style="color: #696eff;"></i>
        <i *ngIf="isMyTask == true" class="fa fa-file-text-o mr-2" style="color: #696eff;"></i>
        <span>{{ filterUserTask }}</span>
      </button>
    </div>
  </div>
  <div class="my-box d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status" id="spinner"  style="width: 3rem; height: 3rem; z-index: 9999;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
  <table *ngIf="tasks.length !== 0" id="example" class="table table-hover mt-4" style="width:100%">
    <thead>
      <tr>
        <th class="text-center align-middle" style="width: 5%;">Type</th>
        <th class="align-middle" style="width: auto;">Project</th>
        <th class="align-middle" style="width: auto;">Name</th>
        <th class="align-middle" style="width: 10%;">Creator</th>
        <th class="align-middle" style="width: 10%;">Employee</th>
        <th class="text-center align-middle" style="width: 10%;">Deadline Date</th>
        <th class="text-center align-middle" style="width: 10%;">Complete Date</th>
        <th class="text-center align-middle" style="width: 5%;">Priority</th>
        <th class="text-center align-middle" style="width: 10%;">Status</th>
        <th class="text-center align-middle" style="width: 10%;">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td class="text-center align-middle" style="width: 5%;">
          <app-task-type-icon [taskType]="task.taskType"></app-task-type-icon>
        </td>
        <td class="align-middle" style="width: auto;">{{ getProjectName(task.projectId) }}</td>
        <td class="align-middle" style="width: auto;">{{ task.taskName }}</td>
        <td class="align-middle" style="width: 10%;">{{ getUserName(task.createUserId) }}</td>
        <td class="align-middle" style="width: 10%;">{{ getUserName(task.appUserId) }}</td>
        <td class="text-center align-middle" style="width: 10%;">{{ task.deadlineDate | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center align-middle" style="width: 10%;">{{ task.completeDate == null ? task.dayLefts <
            0? 'Overtime' : task.dayLefts + ' Days' : task.completeDate | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center align-middle" style="width: 5%;">
          <app-priority-icon [priorityCode]="task.priorityCode"></app-priority-icon>
        </td>
        <td class="text-center align-middle" style="width: 10%;">
          <app-status [statusCode]="task.statusCode"></app-status>
        </td>
        <td class="text-center p-0 align-middle" style="width: 10%;">
          <button class="btn btn-outline-primary mr-1" (click)="openDetailModal(task, 'detail', false)">
            <i class="fa fa-lg fa-edit"></i>
          </button>
          <button  class="btn btn-outline-danger" *ngIf="!employee" (click)="openDetailModal(task, 'delete', true)">
            <i class="fa fa-lg fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
  <div *ngIf="tasks.length === 0" class="text-center">
    <img src="assets/nodata.jpg" class="d-block ml-auto mr-auto" style="width: 50%" alt="Logo">
    <h3 class="mb-2">No Tasks Found</h3>
    <br>
    <button class="button" (click)="goBack()">Go Back</button>
  </div>
  <script>
    $('#sortTable').DataTable();
  </script>
  <div class="modal fade" id="createTaskModal"  [hidden]="!isShowModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <app-modal-task #modalTask [data]="taskDetail" [projects]="projects" (onChangeTask)="onChangeTask()" ></app-modal-task>
    </div>
  </div>