<div class="container-fluid">
  <div class="row no-gutters mt-4">
    <div class="col col-6">
      <h2 class="mb-3 text-primary fw-700">Tasks </h2>
    </div>
    <div class="col col-6">
      <button *ngIf="right" class="button-create create__btn float-right" data-toggle="modal"
        data-target="#createTaskModal" (click)="modalTask.openModal(null, 'create', true);this.isShowModal = true">
        <i class="fa fa-plus"></i>
        <span>Create Task</span>
      </button>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col col-10">
      <app-task-filter (onSubmitForm)="submitFormFilter($event)" (resetFilter)="onResetFilter()"
        (filterPriority)="onFilterPriority($event)" (filterStatus)="onFilterStatus($event)"
        (filterType)="onFilterType($event)" (onSearchTask)="onSearch($event)"></app-task-filter>
    </div>
    <div class="col col-2">
      <button *ngIf="isMyTask" class="button float-right" [routerLink]="['calendar']">
        <i class="fa fa-calendar mr-2"></i>
        <span>Calendar</span>
      </button>
      <button *ngIf="!isMyTask" class="button float-right" [routerLink]="[projectId,'calendar']">
        <i class="fa fa-calendar mr-2"></i>
        <span>Calendar</span>
      </button>
    </div>
  </div>
  <table *ngIf="tasks.length !== 0" id="example" class="table table-hover mt-4" style="width:100%">
    <thead>
      <tr>
        <th class="text-center align-middle">Type</th>
        <th class="align-middle">Project</th>
        <th class="align-middle">Name</th>
        <th class="align-middle">Creator</th>
        <th class="align-middle">Employee</th>
        <th class="text-center align-middle">Deadline Date</th>
        <th class="text-center align-middle">Complete Date</th>
        <th class="text-center align-middle">Priority</th>
        <th class="text-center align-middle">Status</th>
        <th class="text-center align-middle">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td class="text-center align-middle">{{ task.taskType }}</td>
        <td class="align-middle">{{ getProjectName(task.projectId) }}</td>
        <td class="align-middle">{{ task.taskName }}</td>
        <td class="align-middle">{{ getUserName(task.createUserId) }}</td>
        <td class="align-middle">{{ getUserName(task.appUserId) }}</td>
        <td class="text-center align-middle">{{ task.deadlineDate | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center align-middle">{{ task.completeDate == null ? task.dayLefts < 0? 'Overtime' : task.dayLefts + ' Days' :
            task.completeDate | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center align-middle">
          <app-priority-icon [priorityCode]="task.priorityCode"></app-priority-icon>
        </td>
        <td class="text-center align-middle">
          <app-status [statusCode]="task.statusCode"></app-status>
        </td>
        <td class="text-center p-0 align-middle">
          <button class="btn btn-outline-primary mr-1" (click)="openDetailModal(task, 'detail', false)">
            <i class="fa fa-lg fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger" (click)="openDetailModal(task, 'delete', true)">
            <i class="fa fa-lg fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>
  <div *ngIf="tasks.length === 0" class="text-center">
    <img src="assets/nodata.jpg" class="d-block ml-auto mr-auto" style="width: 50%" alt="Logo">
    <h3 class="mb-2">No Tasks Found</h3>
    <br>
    <button class="button-create" (click)="goBack()">Go Back</button>
  </div>
  <script>
    $('#sortTable').DataTable();
  </script>
  <div class="modal fade" id="createTaskModal" [hidden]="!isShowModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <app-modal-task #modalTask [projects]="projects" (onChangeTask)="onChangeTask()"></app-modal-task>
    </div>
  </div>
