.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}



tbody {
  display:block;
  max-height:415px;
  overflow-y:scroll;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}




  /* CSS */

  .button{
    align-items: center;
    background-color: #FFFFFF;
    border-radius: .25rem;
    border-color: rgba(0, 0, 0, 0.15);

    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 38px;
    justify-content: center;
    margin: 0;
    padding: calc(.875rem - 1px) calc(1rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    min-width: 80px;
  }



  .button:hover,
  .button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
  }

  .button:hover {
    transform: translateY(-1px);
  }

  .button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }


/*----- button 1 -----*/


.dropdown-item:active{
  background-color: var(--heavy-color);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

@keyframes DropDown{
0%{
  transform: scaleY(0);
}
80%{
  transform: scaleY(1.1);
}
100%{
  transform: scaleY(1);
}
}
.navbar-dropdown{
  animation: DropDown 0.5s ease-in-out forwards;
  transform-origin: top center;
  margin-top: 1;
  z-index: 1000;
  position: absolute;

}


.my-box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.fa-link {
  transform:scale(-1,1);
  margin: 10px 4px;
  opacity: 0.1;
}


