<section class="vh-100" >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 ">
          <h2 class="mb-4">Change Password</h2>
          <form [formGroup]="changePasswordForm">
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email</label>
              <input
                [ngClass]="{
                  'border-danger':
                  changePasswordForm.controls['email'].invalid &&
                  changePasswordForm.controls['email'].dirty
                }"
                [disabled]="true"
                formControlName="email"
                type="email"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="Enter a new email"
              />
            </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Password</label>
                <input
                  [ngClass]="{
                    'border-danger':
                    changePasswordForm.controls['password'].invalid &&
                    changePasswordForm.controls['password'].dirty
                  }"
                  formControlName="password"
                  type="password"
                  id="form3Example3"
                  class="form-control form-control-lg"
                  placeholder="Enter a new password"
                />
              </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button
                type="button"
                class="btn btn-primary w-100"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
                (click)="onSubmit()"
              >
                M chắc chưa?
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  
  