<div class="example-container">
    <h2>Open</h2>
    <div
      cdkDropList
      #listProgress="cdkDropList"
      [cdkDropListData]="openTasks"
      [cdkDropListConnectedTo]="[listOpen,listResolve, listProgress]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of openTasks" cdkDrag>{{item.taskName}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>InProgress</h2>
  
    <div
      cdkDropList
      #listOpen="cdkDropList"
      [cdkDropListData]="inProgressTask"
      [cdkDropListConnectedTo]="[listOpen,listResolve, listProgress]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of inProgressTask" cdkDrag>{{item.taskName}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Resolved</h2>
  
    <div
      cdkDropList
      #listResolve="cdkDropList"
      [cdkDropListData]="resolvedTask"
      [cdkDropListConnectedTo]="[listOpen,listResolve, listProgress]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of resolvedTask" cdkDrag>{{item.taskName}}</div>
    </div>
  </div>