<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
Using Custom Spinner
<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"
>
</ngx-spinner>
<section class="vh-100 login-wrap ">
  <header class="login-header">
      <img src="assets/logo.png" class="mr-2" style="width: 50px" alt="Logo">
      <h1>HeadUp</h1>
  </header>
      <div class="login-section">
        <h2 class="mb-4 text-center">Welcome back</h2>
        <form [formGroup]="loginForm">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input
              [ngClass]="{
                'border-danger':
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].dirty
              }"
              formControlName="email"
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
            />
            <div class="mt-2">
              <span
                class="text-danger"
                *ngIf="
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].dirty
                "
                >Invalid email address</span
              >
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4">Password</label>
            <input
              [ngClass]="{
                'border-danger':
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].dirty
              }"
              formControlName="password"
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
          (keydown.enter)="onSubmit($event)"

            />
            <div class="mt-2">
              <span
                class="text-danger"
                *ngIf="
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].dirty
                "
                >Password is required</span
              >
            </div>
          </div>

          <!-- <div class="d-flex justify-content-between align-items-center">
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div> -->

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary w-100"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
              (click)="onSubmit()"
              (keyup.enter)="onSubmit()"
            >
              Login
            </button>
          </div>
        </form>
      </div>
   

</section>


