<div class="modal-content">
  <div class="modal-header">
    <h5>Change Password</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <div class="column">
        <div class="form-group row">
          <label class="form-label col-2" for="name">Email</label>
          <div class="col-10">
            <mat-form-field class="w-100">
              <input matInput formControlName="email"/>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <label class="form-label col-2" for="name">Password</label>
          <div class="col-10">
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Enter password now" formControlName="password" (keydown)="checkPassword($event)"/>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row" *ngIf="passwordCheck == true">
          <label class="form-label col-2" for="name">New Password</label>
          <div class="col-10">
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Enter new password" formControlName="newPassword" />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row" *ngIf="passwordCheck == true">
          <label class="form-label col-2" for="name">Confirm Password</label>
          <div class="col-10">
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Confirm password" formControlName="passwordConfirm" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer" *ngIf="passwordCheck == true">
    <div class="w-100">
      <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">
        <i class="fa fa-remove mr-1"></i>
        Close
      </button>
      <button [busyText]="'Loading...'" [buttonBusy]="isLoading" type="button" class="btn ml-2 btn-primary float-right" (click)="checkPasswordConfirm()">
        <i class="fa fa-save mr-1"></i>
        Save changes</button>
    </div>
</div>