
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: var(--primary-color) !important;
}

::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.75rem;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.75rem;

}


.chat-content-img{
    max-width: 100%;
    max-width: 35px;
    min-width: 35px;
    height: 35px;
      object-fit: cover;
      border-radius: 50%;
  }


.chat-content{
    box-shadow: 0 5px 10px rgb(16 30 54 / 15%);
    border-radius: 10px;
    height: 100%;
}

.chat-content-icon{
    padding:0 5px 0 15px;   
  text-shadow:  1px 1px 3px var(--primary-color);

}

.chat-content-message{
    max-width: 400px;
    white-space: initial;
    word-break: break-word;
    box-shadow: 0 5px 10px rgb(16 30 54 / 15%);
    border-radius: 10px;
}

.chat-content-sender{
    color:#fff;
    background-color: var(--primary-color);
}
.chat-wrapper{
   height:300px; 
   margin: 0 20px;
    overflow: hidden scroll;
}

@keyframes fa-blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.4;

    }
}

.is-online{
    animation: fa-blink 1.5s linear infinite;
    color: rgb(1,189,42);
}