
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: var(--primary-color) !important;
}

::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.75rem;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.75rem;

}





.chat-content{
    box-shadow: 0 5px 10px rgb(16 30 54 / 15%);
    border-radius: 10px;
    height: 100%;
}