<div
  class="modal-content"
  *ngIf="mode === 'create' || (mode === 'detail' && data)"
  style="max-height: 92vh; height: 92vh"
>
  <div class="modal-header">
    <h5 class="modal-title" id="createTaskModal">{{ title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm">
      <mat-tab-group
        dynamicHeight
        [(selectedIndex)]="index"
        headerPosition="above"
      >
        <mat-tab label="Information">
          <mat-card>
            <mat-card-content style="height: 365px">
              <div class="row mt-2">
                <div class="col col-6">
                  <div class="form-group row">
                    <label class="form-label col-3">Project</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-select
                          placeholder="Enter project name"
                          formControlName="projectId"
                        >
                          <mat-option
                            *ngFor="let project of projects"
                            [value]="project.id"
                          >
                            {{ project.projectName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name">Task Name</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <input
                          matInput
                          placeholder="Enter task name"
                          formControlName="taskName"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3">Type</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-select
                          placeholder="Enter task type"
                          formControlName="taskType"
                        >
                          <mat-option
                            *ngFor="let type of taskTypes"
                            [value]="type.value"
                          >
                            {{ type.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name">Code</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <input
                          matInput
                          placeholder="Enter task code"
                          formControlName="taskCode"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name">Assignee</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-select
                          placeholder="Enter task leader"
                          formControlName="createUserId"
                        >
                          <mat-option
                            *ngFor="let user of users"
                            [value]="user.appUserId"
                          >
                            {{ user.firstName + " " + user.lastName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name"
                      >Assigned to</label
                    >
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-select
                          placeholder="Enter employee name"
                          formControlName="appUserId"
                        >
                          <mat-option
                            *ngFor="let user of users"
                            [value]="user.appUserId"
                          >
                            {{ user.firstName + " " + user.lastName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="form-group row">
                    <label class="form-label col-3">Status</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-select
                          placeholder="Enter task status"
                          formControlName="statusCode"
                        >
                          <mat-option
                            *ngFor="let code of statusCode"
                            [value]="code.value"
                          >
                            {{ code.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3">Priority</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-select
                          placeholder="Enter task priority"
                          formControlName="priorityCode"
                        >
                          <mat-option
                            *ngFor="let code of priorityCode"
                            [value]="code.value"
                          >
                            {{ code.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name">Create</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-label>Choose a date</mat-label>
                        <input
                          matInput
                          [disabled]="true"
                          [matDatepicker]="create"
                          formControlName="createDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="create">
                        </mat-datepicker-toggle>
                        <mat-datepicker #create></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name">Deadline</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-label>Choose a date</mat-label>
                        <input
                          matInput
                          [max]="maxDate"
                          [matDatepicker]="deadline"
                          formControlName="deadlineDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="deadline">
                        </mat-datepicker-toggle>
                        <mat-datepicker #deadline></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div [hidden]="mode === 'create'" class="form-group row">
                    <label class="form-label col-3" for="name">Complete</label>
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <mat-label>Choose a date</mat-label>
                        <input
                          matInput
                          [matDatepicker]="complete"
                          formControlName="completeDate"
                        />
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="complete">
                        </mat-datepicker-toggle>
                        <mat-datepicker #complete></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="form-label col-3" for="name"
                      >Description</label
                    >
                    <div class="col-9">
                      <mat-form-field class="w-100">
                        <textarea
                          matInput
                          placeholder="Description"
                          formControlName="description"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="2"
                          cdkAutosizeMaxRows="5"
                          #autosize="cdkTextareaAutosize"
                        >
                        </textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab
          label="Discussion"
          *ngIf="mode !== 'create' && data.appUserId !== data.createUserId"
        >
          <mat-card>
            <mat-card-content style="height: 430px">
              <div class="row" style="height: 100%">
                <div class="col col-9" style="max-height: 100%">
                  <div class="chat-content">
                    <div
                      class="d-flex justify-content-between align-items-center"
                      style="padding: 10px"
                    >
                      <div class="float-left">
                        <div
                        *ngIf="
                          currentUserInfo.permissionCode === 3;
                          else leader
                        "
                      >
                        <!-- <app-user-avatar
                          class="mr-2 d-inline-block"
                          [users]="[employeeInfo]"
                        ></app-user-avatar> -->
                      </div>
                      <ng-template #leader>
                        <!-- <app-user-avatar
                          class="mr-2 d-inline-block"
                          [users]="[leaderInfo]"
                        ></app-user-avatar> -->
                      </ng-template>
                        <span *ngIf="currentUserInfo.permissionCode === 3">
                          {{ leaderInfo?.firstName }}
                          {{ leaderInfo?.lastName }}
                          <br>
                          <span  
                          [class.is-online]=" (presenceService.onlineUsers | async).includes(
                            employeeInfo?.firstName +
                              ' ' +
                              employeeInfo?.lastName
                          )"
                          *ngIf="
                          (presenceService.onlineUsers | async).includes(
                            employeeInfo?.firstName +
                              ' ' +
                              employeeInfo?.lastName
                          )
                          ;else noneActive">Active
                        <i class="fa fa-circle ml-1" aria-hidden="true"></i>
                      </span>
                          <ng-template #noneActive>
                            <span>InActive</span>
                            </ng-template>
                        </span>
                        <span *ngIf="currentUserInfo.permissionCode === 2">
                          {{ employeeInfo?.firstName }}
                          {{ employeeInfo?.lastName }}
                          <br>
                          <span
                          class="p-text"
                            [class.is-online]="
                              (presenceService.onlineUsers | async).includes(
                                employeeInfo?.firstName +
                                  ' ' +
                                  employeeInfo?.lastName
                              )
                            "
                          >
                          <span  
                          [class.is-online]=" (presenceService.onlineUsers | async).includes(
                            employeeInfo?.firstName +
                              ' ' +
                              employeeInfo?.lastName
                          )"
                          *ngIf="
                          (presenceService.onlineUsers | async).includes(
                            employeeInfo?.firstName +
                              ' ' +
                              employeeInfo?.lastName
                          )
                          ;else noneActive">Active
                        <i class="fa fa-circle ml-1" aria-hidden="true"></i>
                      </span>
                          <ng-template #noneActive>
                            <span>InActive</span>
                            </ng-template>
                        </span>
                        </span>
                      </div>
                      <div class="float-right fsz-25">
                        <i
                          class="fa fa-info-circle mr-2 text-primary chat-content-icon"
                          aria-hidden="true"
                        ></i>
                      </div>
                    </div>

                    <mat-divider class="mb-3" inset></mat-divider>
                    <div class="chat-wrapper" #chatContent>
                      <ng-container
                        *ngFor="
                          let message of messages
                        "
                      >
                        <div class="row">
                          <div class="col col-12">
                            <div
                              *ngIf="
                                message.senderId === currentUserInfo.id;
                                else receiper
                              "
                            >
                              <div
                                class="chat-content-sender chat-content-message mb-2 mr-2 float-right"
                              >
                                <span
                                  class="ml-3 mr-3 mt-2 mb-2 d-inline-block"
                                >
                                  {{ message.content }}
                                </span>
                              </div>
                            </div>
                            <ng-template #receiper>
                              <div class="col col-12">
                                <div
                                  class="chat-content-message mb-2 mr-2 float-left"
                                  style="padding: 8px"
                                >
                                  <div class="d-flex align-items-center">
                                    <div
                                      *ngIf="
                                        currentUserInfo.permissionCode === 3;
                                        else leader
                                      "
                                    >
                                      <app-user-avatar
                                        class="mr-2 d-inline-block"
                                        [users]="[leaderInfo]"
                                      ></app-user-avatar>
                                    </div>
                                    <ng-template #leader>
                                      <app-user-avatar
                                        class="mr-2 d-inline-block"
                                        [users]="[employeeInfo]"
                                      ></app-user-avatar>
                                    </ng-template>
                                    <span
                                      class="mr-2 mt-2 mr-3 mb-2 d-inline-block"
                                    >
                                      {{ message.content }}
                                    </span>
                                  </div>
                                  <span class="p-text fsz-12">
                                    {{ message.messageSent | date }}
                                  </span>
                                </div>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <form [formGroup]="messageForm">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="content"
                          placeholder="Aa"
                          (keydown)="onChat($event)"
                          aria-label="Recipient's username"
                          aria-describedby="basic-addon2"
                        />
                      </div>
                    </form>
                  </div>
                </div>
                <div
                  class="col col-3"
                  *ngIf="currentUserInfo.permissionCode === 3"
                >
                  <div>
                    <h5 class="text-center">
                      {{ leaderInfo?.firstName }}
                      {{ leaderInfo?.lastName }}
                    </h5>
                    <div class="d-flex justify-content-center">
                      <p class="text-center mb-2 mr-2 fw-500">
                        Leader: 
                      </p>
                      <app-department-icon [departmentName]="departmentName"></app-department-icon>
                    </div>
                    <mat-divider class="mb-3" inset></mat-divider>
                    <div class="mb-3 text-center">
                      <ngx-avatar [round]="false" class="d-inline-block"  size="120" [name]="leaderInfo?.firstName + leaderInfo?.lastName" [src]="leaderInfo?.photoUrl"
                     ></ngx-avatar>
                    </div>
                    <span class="row no-gutters mb-2" style="color: rgba(0, 0, 0, 0.400);">
                      <i class="fa fa-envelope mr-2 mt-1"></i>
                      Email Address:
                    </span>
                    <p class="fw-500 mb-2">{{ leaderInfo?.email }}</p>
                    <span class="mt-2 mb-2 row no-gutters" style="color: rgba(0, 0, 0, 0.400);">
                      <i class="fa fa-phone-square mr-2 mt-1"></i>
                      Phone Number:
                    </span>
                    <p class="fw-500 mb-2">{{ leaderInfo?.phone }}</p>
                    <span class="mt-2 mb-2 row no-gutters" style="color: rgba(0, 0, 0, 0.400);">
                      <i class="fa fa-globe mr-2 mt-1"></i>
                      Address:
                    </span>
                    <p class="fw-500 mb-2">{{ leaderInfo?.address }}</p>
                  </div>
                </div>

                <div
                  class="col col-3"
                  *ngIf="currentUserInfo.permissionCode === 2"
                >
                  <div>
                    <h5 class="text-center">
                      {{ employeeInfo?.firstName }}
                      {{ employeeInfo?.lastName }}
                    </h5>
                    <div class="d-flex justify-content-center">
                      <p class="text-center mb-2 mr-2 fw-500">
                        Employee: 
                      </p>
                      <app-department-icon [departmentName]="departmentName"></app-department-icon>
                    </div>
                    <mat-divider class="mb-3 mt-2" inset></mat-divider>
                    <div class="mb-3 text-center">
                      <ngx-avatar [round]="false" class="d-inline-block"  size="120" [name]="employeeInfo?.firstName + employeeInfo?.lastName" [src]="employeeInfo?.photoUrl"
                     ></ngx-avatar>
                    </div>
                    <span class="row no-gutters mb-2" style="color: rgba(0, 0, 0, 0.400);">
                      <i class="fa fa-envelope mr-2 mt-1"></i>
                      Email Address:
                    </span>
                    <p class="fw-500 mb-2">{{ employeeInfo?.email }}</p>
                    <span class="mt-2 row no-gutters mb-2" style="color: rgba(0, 0, 0, 0.400);">
                      <i class="fa fa-phone-square mr-2 mt-1"></i>
                      Phone Number:
                    </span>
                    <p class="fw-500 mb-2">{{ employeeInfo?.phone }}</p>
                    <span class="mt-2 row no-gutters mb-2" style="color: rgba(0, 0, 0, 0.400);">
                      <i class="fa fa-globe mr-2 mt-1"></i>
                      Address:
                    </span>
                    <p class="fw-500 mb-2">{{ employeeInfo?.address }}</p>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      <style>
        ::ng-deep .cdk-overlay-container {
          z-index: 2000;
        }
      </style>
    </form>
  </div>
  <div class="modal-footer">
    <div class="w-100">
      <button
        type="button"
        class="btn btn-secondary float-left"
        data-dismiss="modal"
      >
        <i class="fa fa-remove mr-2" style="color: rgb(255, 255, 255)"></i>
        Close
      </button>
      <button
        *ngIf="!isEdit"
        type="button"
        class="btn mr-2 btn-info float-right"
        (click)="onChangeEdit(true)"
      >
        <i class="fa fa-edit mr-2"></i>
        Edit
      </button>
      <button
        *ngIf="isEdit"
        [busyText]="'Loading...'"
        [buttonBusy]="isLoading"
        type="button"
        class="btn ml-2 btn-primary float-right"
        (click)="submitForm()"
      >
        <i class="fa fa-save mr-2"></i>
        Save changes
      </button>
      <button
        [hidden]="mode === 'create'"
        *ngIf="isEdit"
        type="button"
        class="btn btn-secondary float-right"
        (click)="onChangeEdit(false)"
      >
        <i class="fa fa-undo mr-2"></i>
        Cancel
      </button>
    </div>
  </div>
</div>

<div
  class="modal-content"
  *ngIf="mode === 'delete'"
  style="width: 600px; transform: translate(65%, 150%)"
>
  <div class="modal-body">
    <h3>Are you sure you want to delete this task?</h3>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      aria-label="Close"
      style="transform: translate(-220%, 0)"
    >
      <i class="fa fa-remove"></i>
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="submitForm()"
      style="transform: translate(-310%, 0)"
    >
      <i class="fa fa-trash"></i>
      OK
    </button>
  </div>
</div>
