<div class="container-fluid"  style="position: relative;">
  <div class="my-box d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status" id="spinner"  style="width: 3rem; height: 3rem; z-index: 9999;">
        <span class="sr-only">Loading...</span>
    </div>
  </div>
    <div class="row mt-4">
      <div class="col col-12">
        <h2>{{ currentUser.firstName + ' ' + currentUser.lastName }}</h2>
        <h2>{{ currentUser.email }}</h2>
        <h2>{{ currentUser.phone }}</h2>
        <h2>{{ getDepartmentName(currentUser.departmentId) }}</h2>
        <h2>{{ currentUser.address }}</h2>
        <h2>{{ getPermission(currentUser.permissionCode) }}</h2>
      </div>
    </div>
</div>
