.my-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

/* img.img-thumbnail {
  height: 100px;
  min-width: 100px;
  margin-bottom: 2px;
} */

.nv-file-over {
  border: dotted 3px red;
}

input[type=file] {
  color: transparent;
}

.avatar {
  width: 80%;
  margin: 0px 30px;
  border: 5px #d4d4d4 solid;
  padding: 7px;
  border-radius: 50%;
  position: relative;
}

.example-container {
  max-height:165px;
  
  /* max-height: 100px; */
  padding:5px ;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 25px 25px 0; 
  display: block;
  height: 56vh;
  /* vertical-align: top; */
}
