<div class="container-fluid"  style="position: relative;">
  <div class="row mt-4">
    <div class="col col-6 mb-4">
      <h2 class="mb-3 text-primary fw-700">Employees</h2>
    </div>
    <div *ngIf="!disable" class="col col-6 mb-4">
      <button class="button-create float-right" data-toggle="modal" data-target="#createUserModal"
        (click)="modalUser.openModal(null, 'create', true);this.isShowModal = true">
        <i class="fa fa-user-plus mr-2"></i>
        Create User
      </button>
    </div>
  </div>
  <div class="my-box d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status" id="spinner"  style="width: 3rem; height: 3rem; z-index: 9999;">
        <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table id="example" class="table table-hover mt-4" style="width:100%">
    <thead>
      <tr>
        <th class="text-center align-middle" style="width:7%">Online</th>
        <th class="align-middle">Name</th>
        <th class="align-middle">Address</th>
        <th class="align-middle">Email</th>
        <th class="text-center align-middle">Phone</th>
        <th class="text-center align-middle">Department</th>
        <th class="text-center align-middle">Permission</th>
        <th class="text-center align-middle">Operator</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <td class="text-center align-middle" style="width:7%">
          <span [class.is-online]="(presence.onlineUsers | async).includes(user.firstName + ' ' + user.lastName)">
            <i class="fa fa-user mr-2"></i>
          </span>
        </td>
        <td class="align-middle">
          <app-user-avatar [users]="user"></app-user-avatar>
          {{ user.firstName }} {{ user.lastName }}
        </td>
        <td class="align-middle">{{ user.address }}</td>
        <td class="align-middle">{{ user.email }}</td>
        <td class="text-center align-middle">{{ user.phone }}</td>
        <td class="text-center align-middle">{{ getDepartmentName(user.departmentId) }}</td>
        <td class="text-center align-middle">
            <app-permission-icon [permission]="user.permissionCode" class="mr-2"></app-permission-icon>
            {{ getPermission(user.permissionCode) }}
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-outline-primary mr-1" (click)="openDetailModal(user, 'detail', false)">
            <i class="fa fa-lg fa-edit"></i>
          </button>
          <button class="btn btn-outline-danger" (click)="openDeleteModal(user)">
            <i class="fa fa-lg fa-user-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="createUserModal" tabindex="-1" [hidden]="!isShowModal" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <app-modal-user #modalUser (onChangeUser)="onChangeUser()"></app-modal-user>
  </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" [hidden]="!isShowModal" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <app-delete-user #modalDeleteUser (onDeleteUser)="onDeleteUser()"></app-delete-user>
  </div>
</div>
