<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">UDaily</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-md-center mx-auto"
    id="collapsibleNavbar"
  >
    <ul class="navbar-nav col-md-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projects">My Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tasks">My Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tasks">Employees</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span>{{ userName }}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="profile">Profile</a>
          <a class="dropdown-item" href="change-password">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="login">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
      <div class="col col-6 home-des-wrap text-center">
        <div class="vertical-center">
          <h1 class="home-header  font-italic">Work on big ideas, without the busywork</h1>
          <p class="home-description">Bring your team's work together in one shared space</p>
            <button class="home__btn" (click)="navigateToTask()">Your Projects</button>
          <div class="row home-counter  mt-4">
            <div class="col col-4 text-center">
              <span class="mb-2 count">{{enterpriseCount}}</span>
              <br>
              
              <span>Enterprises</span>
            </div>
            <div class="col col-4 text-center">
              <span class="mb-2 count">{{userCount}}</span>
              <br>
              <span>Users</span>
            </div>
            <div class="col col-4 text-center">
              <span class="mb-2 count">{{percentCount}}%</span>
              <br>
              <span>Experience</span>
            </div>
          </div>
        </div>
    </div>
    <div class="col col-6">
        <img class="d-block ml-auto mr-auto" src="assets/homeimg.png" width="580px" height="700px" alt="Logo">
      />
    </div>
  </div>
</div>
